@page
@model SecureWebApplication.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Login</h1>
    <form method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="Username" required>
        
        <label for="password">Password:</label>
        <input type="password" id="password" name="Password" required>
        
        <button type="submit">Login</button>
    </form>
</div>