@page
@model LandingModel
@{
    ViewData["Title"] = "Landing Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome @Model.Username</h1>
</div>
<div>
    <p>Press this button to load products form database(with cache):</p>
    <form method="post" asp-page-handler="LoadProducts">
        <button type="submit">Load Products</button>
    </form>
</div>
